<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>agilesellerlistoptions</name>
	<displayName><![CDATA[Agile Seller List Options module]]></displayName>
	<version><![CDATA[1.4.0.1]]></version>
	<description><![CDATA[Provide listing options with additional fees to multiple sellers]]></description>
	<author><![CDATA[addons-modules.com]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>