<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>agilesellerratings</name>
	<displayName><![CDATA[Agile Seller Ratings]]></displayName>
	<version><![CDATA[2.0.0.2]]></version>
	<description><![CDATA[Allows users to rate and give feedback on sellers]]></description>
	<author><![CDATA[addons-modules.com]]></author>
	<tab><![CDATA[Administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>